
.icone1{
  background-image: url("https://img.icons8.com/ios-glyphs/30/000000/star--v1.png");
}

.icon0{
  background-image: url("https://img.icons8.com/ios-glyphs/30/000000/star-half-empty.png");
  
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    //grid-row: auto(1fr);
    gap: 1px 1px;
    grid-auto-flow: row;
   /* grid-template-areas:
      "a1 a2 a3 a4"
      "b1 b2 b3 b4"
      "c1 c2 c3 c4"
      "d1 d2 d3 d4";*/
  }
  
  .l0 { 
    //grid-area: a1;
background-color: rgb(161, 129, 87); }
  
  .l1 { 
    //grid-area: a2; 
    background-color: rgb(161, 129, 87); }
  
  .l2 {  //grid-area: a3; 
    background-color: rgb(161, 129, 87); }
  
  .l3 {  //grid-area: a4; 
    background-color: rgb(161, 129, 87); }
  
  .l4 {  //grid-area: b1;    
background-color: rgb(170, 117, 49); }
  
  .l5 {  //grid-area: b2; 
    background-color: rgb(109, 68, 15); }
  
  .l6 {  //grid-area: b3; 
    background-color: rgb(139, 82, 8); }
  
  .l7 {  //grid-area: b4; 
    background-color: rgb(49, 31, 6); }
  
  .l8 {  //grid-area: c1; 
    background-color: rgb(78, 50, 12); }
  
  .l9 {  //grid-area: c2; 
    background-color: rgb(78, 57, 28); }
  
  .l10 {  //grid-area: c3; 
    background-color: rgb(161, 129, 87); }
  
  .l11 {  //grid-area: c4; 
    background-color: rgb(241, 147, 24); }
  
  .l12 {  //grid-area: d1; 
    background-color: rgb(226, 160, 73); }
  
  .l13 {  //grid-area: d2; 
    background-color: rgb(155, 142, 126); }
  
  .l14 {  //grid-area: d3; 
    background-color: rgb(65, 56, 45); }
  
  .l15 {  //grid-area: d4; 
    background-color: rgb(196, 172, 141); }
  .l16 {  //grid-area: e1; 
      background-color: rgb(196, 172, 141); }
  .l17 {  //grid-area: e2; 
        background-color: rgb(196, 172, 141); }
  .l18 {  //grid-area: e3; 
          background-color: rgb(196, 172, 141); }

    img{
      width: 200px;
      height: 100px;
      margin: 5%;
    }
  