
  <div class="btn-group no-border" >
    <a [routerLink]="['home']" class="btn btn-outline-primary"  >HOME</a>
    <a [routerLink]="['galeria']" class="btn btn-outline-primary">JOGO</a>
    <a [routerLink]="['cadastro']" class="btn btn-outline-primary" >CADASTRO </a>
    <a [routerLink]="['login']" class="btn btn-outline-primary">LOGIN</a>
</div>
<hr/>
  <!--div class="container"> 

  <div class="titulo" [ngSwitch]="getTitulo()" >
      <h1 *ngSwitchCase="'HOME'" ngSwitchDefault>
                  HOME
      </h1>

      <h1 *ngSwitchCase="'JOGO'" >
        JOGO
    </h1>

    <h1 *ngSwitchCase="'CADASTRO'" >
      CADASTRO
  </h1>

  <h1 *ngSwitchCase="'LOGIN'" >
    LOGIN
</h1>
  </div-->
    <!--[ngSwitch]="aba">

    <p *ngSwitchCase="'home'">
        <app-home></app-home>
    </p> 

    <p *ngSwitchCase="'jogo'">
     <app-galeria></app-galeria>
  </p> 

  <p *ngSwitchCase="'cadastro'">
   <app-cadastro></app-cadastro>
</p>
<p *ngSwitchCase="'login'">
  <app-login></app-login>
</p> >


  </div-->
