
  <div class="btn-group" >
    <a href="/" class="btn btn-outline-primary" >HOME</a>
    <a href="/galeria" class="btn btn-outline-primary" >JOGO</a>
          <a href="/cadastro" class="btn btn-outline-primary" >CADASTRO </a>
    <a href="/login" class="btn btn-outline-primary">LOGIN
  </a>
</div>
<br/><br/>
  <div class="container"> 
    <!--[ngSwitch]="aba">

    <p *ngSwitchCase="'home'">
        <app-home></app-home>
    </p> 

    <p *ngSwitchCase="'jogo'">
     <app-galeria></app-galeria>
  </p> 

  <p *ngSwitchCase="'cadastro'">
   <app-cadastro></app-cadastro>
</p>
<p *ngSwitchCase="'login'">
  <app-login></app-login>
</p> -->


  </div>
