.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2fr 1fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "."
      "."; 
  }
  