<div class="card mt-3">
    <div class="card-header">
      <div class="float-left">
        <h4>Cursos</h4>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-primary" [routerLink]="['/'+'new']"  >Novo personagem</button>
        <button type="button" class="btn btn-secondary" >Atualizar</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover" >
        <thead>
          <tr>
            <th>Nome</th>
            <th>Avatar</th>
          
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let list of retorno.data">
            
            <div>
            
              <td>{{list.first_name}}</td>
              <td><img src="{{list.avatar}}"></td>

              
            <td>
              <span class="float-right">
                <button class="btn btn-outline-warning mb-1 btn-sm"  (click)="atualizar(list.id)">
                  Atualizar
                </button>
  
                <button class="btn btn-outline-danger mb-1 btn-sm" (click)="remover('id')">
                  Remover
                </button>
                <button class="btn btn-outline-success mb-1 btn-sm" #id (click)="editar(list.id)">
                  EDITAR
                </button>
                <br>
                <div *ngIf="id.value" (click)="id.value = 'true'">

               <input type="text" formControlName="id" #saida>
               
               <button class="btn btn-secundary" >SALVAR</button>
              </div> 
              </span>
            </td>
          </div>
          </tr>
        </tbody>
      </table>
  
      <ng-template #loading>
        <span>Carregando Cursos...</span>
      </ng-template>
  
      <!--ng-template #loadingError>
        <div *ngIf="error$ | async; else loading" >
          Erro ao carregar cursos. Tente novamente mais tarde.
        </div>
        <ng-template #loading>
            <span>Carregando Cursos...</span>
        </ng-template>
      </ng-template -->
    </div>
  </div>
  
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja remover esse curso?</p>
      <button type="button" class="btn btn-default" >Sim</button>
      <button type="button" class="btn btn-primary">Nao</button>
    </div>
  </ng-template>
  